<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>学生工作管理系统登录</title>
    <link rel="stylesheet" href="${rc.contextPath}/static/css/pintuer.css">
    <link rel="stylesheet" href="${rc.contextPath}/static/css/admin.css">
    <script src="${rc.contextPath}/static/js/jquery.js"></script>
    <script src="${rc.contextPath}/static/js/pintuer.js"></script>
    <script src="${rc.contextPath}/static/js/respond.js"></script>
    <script src="${rc.contextPath}/static/js/admin.js"></script>
    <!-- <link type="image/x-icon" href="/favicon.ico" rel="shortcut icon" />
    <link href="/favicon.ico" rel="bookmark icon" /> -->
</head>

<body>
<div class="container">
    <div class="line">
        <div class="xs6 xm4 xs3-move xm4-move">
            <br /><br />
            <div class="media media-y">
                <a href="#">学生工作管理系统</a>
            </div>
            <br /><br />
            <form action="index.html" method="post">
            <div class="panel">
                <div class="panel-head"><strong>登录学生工作管理系统</strong></div>
                <div class="panel-body" style="padding:30px;">
                    <div class="form-group">
                        <div class="field field-icon-right">
                            <input id="name" type="text" class="input" name="name" placeholder="登录账号" data-validate="required:请填写账号,length#>=5:账号长度不符合要求" />
                            <span class="icon icon-user"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="field field-icon-right">
                            <input id="password" type="password" class="input" name="password" placeholder="登录密码" data-validate="required:请填写密码,length#>=8:密码长度不符合要求" />
                            <span class="icon icon-key"></span>
                        </div>
                    </div>
                    <div class="form-group" style="float: right;">
                        <div class="field field-icon-right" >
		                <input type="radio" name="type" value="admin" checked="checked"><label class="control-label">管理员</label> 
						<input type="radio" name="type" value="student"><label class="control-label">学生</label>
						</div>
                	</div>
                </div>
                <div class="panel-foot text-center">
                <button type="button" class="button button-block bg-main text-big" onclick="login()">立即登录后台</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">

	var url = "${rc.contextPath}/admin/login";
	$(':radio').click(function(){
		var v = $(this).val();
		if(v == "student"){
			url = "${rc.contextPath}/student/login";
		}
	});

	function login(){
		
		var name = $('#name').val();
		var password = $('#password').val();
		if(name == null || name == ""){
			alert("登录名不能为空");
			return ;
		}
		if(password == null || password == ""){
			alert("密码不能为空");
			return ;
		}
		
		//var url = "${rc.contextPath}/admin/login";
		jQuery.post(url,
				{name: name, password: password},
				function(data){
					if(data.code == 10000){
						location.href = "${rc.contextPath}/student/student_list";
					}else{
						alert(data.info);
					}
				},
				"json");
	}

</script>
</body>
</html>