#parse("/header.html")
<script src="${rc.contextPath}/static/listjs/student.js"></script>
<div class="admin">
    <div class="panel admin-panel">
    	<div class="panel-head"><strong>学生列表</strong></div>
        <div class="padding border-bottom">
            <!-- <input type="button" class="button button-small checkall" name="checkall" checkfor="id" value="全选" /> -->
            <a type="button" class="button button-small border-green" href="${rc.contextPath}/student/student_edit">添加学生</a>
            <!-- <input type="button" class="button button-small border-yellow" value="批量删除" /> -->
            <!-- <input type="button" class="button button-small border-blue" value="回收站" /> -->
        </div>
        <table id="tb_departments"></table>
    </div>
    <br />
</div>

</body>
</html>