#parse("/header.html")
<style>
label{
	color: rebeccapurple;
	font-size: initial;
	margin-right: 10px;
}
</style>
<div class="admin">
    <div class="tab">
    <strong>添加学生</strong>
      <div class="tab-body">
        <br />
        <div class="tab-panel active" id="tab-set">
        	<form id="edit" method="post" class="form-x">
        		<input hidden type="text" class="input" id="id" name="id" value="$!student.id"/>
        		<div class="form-group">
                    <div class="label"><label for="siteurl">学号</label></div>
                    <div class="field">
                    	<input #if($!student.stuId) readOnly #end type="text" class="input" id="stuId" name="stuId" size="50" placeholder="请填写学号" data-validate="required:请填写学号" value="$!student.stuId"/>
                    </div>
                </div>
        		<div class="form-group">
                    <div class="label"><label for="siteurl">姓名</label></div>
                    <div class="field">
                    	<input type="text" class="input" id="stuName" name="stuName" size="50" placeholder="请填写姓名" data-validate="required:请填写姓名" value="$!student.stuName"/>
                    </div>
                </div>
        		<div class="form-group">
                    <div class="label"><label for="siteurl">专业</label></div>
                    <div class="field">
                    	<input type="text" class="input" id="majoy" name="majoy" size="50" placeholder="请填写专业" data-validate="required:请填写专业" value="$!student.majoy"/>
                    </div>
                </div>
        		<div class="form-group">
                    <div class="label"><label for="siteurl">班级</label></div>
                    <div class="field">
                    	<input type="text" class="input" id="clazz" name="clazz" size="50" placeholder="请填写班级" data-validate="required:请填写班级" value="$!student.clazz"/>
                    </div>
                </div>
                <div class="form-button"><button class="button bg-main" type="button" onclick="sub()">提交</button></div>
            </form>
        </div>
      </div>
    </div>
</div>
<script>
	function sub(){
		var url = "/student/student/edit";
		jQuery.post(url,
				$('#edit').serialize(),
				function(data){
					alert(data.info);
					if(data.code == 10000){
						location.href = "${rc.contextPath}/student/student_list";
					}
				},
				"json");
	}
</script>
</body>
</html>